* {
    box-sizing: border-box;
}

body {
    display: block;
    width: 100%;
    margin: 0 auto;
}

div {
    display: block;
}

h1 {
    font-size: 32px;
    margin: 16px 0;
    color: rgb(88, 77, 77);
}

.main-header {
    width: 100%;
    background-color: lightgray;
    padding: 10px 0;
}

.container {
    text-align: center;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: firebrick;
}

a:visited {
    color: rgb(3, 88, 99);
}

* p {
    margin: 30px;
    color: firebrick;
    font-style: italic;
    letter-spacing: .6px;
    line-height: 1.5em;
    min-height: 100px;
}

nav {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;

}

nav ul {
    list-style: none;
    margin: 30px 10px;
    padding: 5px;
}

ul li {
    border: 1px solid beige;
    background-color: beige;
    margin-bottom: 5px;
    padding: 15px 0;
    font-size: 20px;
    list-style: none; 
}

.page-content {
    width: 90%;
    margin: 0 auto;
}

h2 {
    padding: 60px 0;
}

.box-content {
    display: block;    
    padding: 10px;
    margin-bottom: 50px;
}

.footer {
    background-color: lightgray;
    padding: 10px;
}

.footer-content {
    text-align: center;
}

.third-heading {
    padding: 20px 0;
    letter-spacing: 1.5px;
}

.footer-nav p {
    display: inline;
    padding-top: 15px;
    margin: 0;
}

.footer-h1,
.footer-ul {
    display: none;
}

.footer-headline {
    float: left;
    padding-left: 15px;
}

.footer-link {
    float: right;
    padding-right: 15px;
}

.group::after {
    content: "";
    display: table;
    clear: both;
}

/* media queries */

@media (min-width: 768px) {
    
    body {
        width: 100%;
    }

    .main-header h1 {
        font-size: 32px;
        margin: 20px 0;
    }
    
    nav {
        margin-bottom: 30px;
    }

    nav ul li {
        display: inline;
        background-color: lightgray;
        border-style: none;
        padding: 0;
        text-align: center;
    }

    .main-header ul{
        margin-bottom: 50px;
    }
    
    a {
        margin: 0 30px;
    }
    
    div {
        display: block;
        min-height: max-content;
    }

    .profile {
        display: block;
        float: right;
        width: 40%;
        padding-right: 40px;
        margin-bottom: 60px;
    }

    .page-content {
        width: 90%;
        margin: 0 auto;
        text-align: center;    
    }

    .box {
        display: block;
        margin: 0 auto;
        width: 49%;
    }

    .intro {
        display: block;
        float: left;
        width: 50%;
        padding-left: 40px;
        font-family: 'Times New Roman', Times, serif;
        line-height: 1.5em;
        font-size: 20px;
        margin: 0;
        text-align: center;
    }

    .box-left {
        float: left;
        display: block;
        margin: 0 auto;
        width: 49%;
    }

    .box-right {
        float: right;
        display: block;
        margin: 0 auto;
        width: 49%;
    }

    .footer-nav p {
        display: none;
    }

    .footer-h1,
    .footer-ul {
        display: inline;
    }

    .footer-h1 {
        float: left;
        margin: 0;
    }
    
    .footer-nav {
        margin: 0;
    }

    .footer-ul {
        float: right;
        margin: 0;
    }
    
}

@media (min-width: 1024px) {
    
    body {
        width: 100%;
        max-width: 1550px;
    }
    
    nav {
        margin: 30px 0;
    }

    .profile {
        width: 48%;
    }

    .intro {
        width: 45%;
    }

    .main-header h1 {
        float: left;
        margin: 0 0 0 43px;
    }

    .main-header ul {
        float: right;
        margin: 0 7px 0 0;
    }

    main .page-content {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .box {
        width: 30%;
    }

    div {
        display: block;
        min-height: max-content;
    }


    .image {
        width: 100%;
    }

    div .box-content {
        display: block;
        margin: 0 auto;
        letter-spacing: 1px;
    }

    .box-left {
        display: block;
        float: left;
        margin: 0 auto;
    }

    .box-right {
        display: block;
        float: left;
        margin: 0 auto;
    }

    .box-2,
    .box-5 {
        margin: 0 30px;
    }

    .footer-nav p {
        display: none;
    }
}